{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": ["transform-class-properties"],
  "env": {
    "dev": {
      "plugins": ["babel-plugin-styled-components", "react-hot-loader/babel"]
    }
  }
}
